*::before,
*::after,
* {
  box-sizing: border-box;
}

:root {
  --main-font: 'Archivo Black', sans-serif;
  --text-font: 'Roboto', sans-serif;
  --yellow: #ffcb48;
  --white: #ffffff;
  --black: #000000;

  font-family: var(--text-font);
  background-color: black;
}

body {
  margin: 0;
}


.header {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 100px;
  padding: 0 250px;
  background-color: var(--black);
}

.nav {
  display: flex;
  gap: 50px;
}

.logo {
  margin-right: auto;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 100;
  color: var(--white);
}

.logo-main {
  font-family: var(--main-font);
}

.logo-name {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.tab-btn {
  height: 40px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  border: none;
  background: none;
}


.home {
  display: flex;
  justify-content: center;
  height: 820px;
  background: url(./img/home.jpg) no-repeat center;
  background-size: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 150px;
}

.restaurant-name {
  width: 615px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 80px;
  color: var(--white);
}

.open-time, .hours {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--main-font);
}

.open-time {
  font-size: 40px;
  color: var(--yellow);
}

.hours {
  font-size: 30px;
  color: var(--white);
}

.client {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 18px;
}

.order,
.reserve {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 80px;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 26px;
  border: 2px solid var(--white);
  color: var(--white);
}

.order:hover,
.reserve:hover {
  border: 2px solid var(--yellow);
}

.order:active,
.reserve:active {
  color: var(--yellow);
}


.menu {
  padding: 0 150px;
}

.menu-sect-one,
.menu-sect-two,
.menu-sect-three {
  display: grid;
  grid-template-columns: max-content, 1fr;
  column-gap: 100px;
  background-color: var(--black);
  color: var(--white);
  height: 500px;
}

.menu-sect-one-col-one,
.menu-sect-two-col-one,
.menu-sect-three-col-one {
  grid-column: 1;
}

.menu-sect-one-col-two,
.menu-sect-two-col-two,
.menu-sect-three-col-two {
  grid-column: 2;
}

.sushi-img-one,
.sushi-img-two,
.sushi-img-three {
  width: 500px;
  height: 500px;
}

.sushi-name {
  margin: 100px 0 10px 0;
  text-transform: uppercase;
  font-size: 45px;
  font-family: var(--main-font);
}

.sushi-desc {
  width: 500px;
  font-size: 23px;
  font-weight: 300;
}



.contact {
  padding: 100px 150px 0 150px;
}

.contact-adress-cont,
.contact-contact-cont {
  color: var(--white);
}

.contact-adress-cont {
  margin-bottom: 60px;
}

.contact-heading {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 38px;
}

.contact-text {
  font-size: 23px;
  font-weight: 300;
}
